{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<h1 style="text-align: center;">Все Товары</h1>
<div class="items">
  {% for item in goods%}
  <div class="col-md-4 border rounded item">
    <img src="{{ url_for('static', filename=item.picture) }}" class="image" width="250px" height="250px">
    <h4 style="overflow: hidden;">{{item.title}}</h4>
    <div>
      Цена - {{item.price}}
    </div>
    <div>
      Дата добавления - {{item.created_date}}
    </div>
    <div>
      <a href="/goods_info/{{ item.id }}" class="btn btn-primary">
        Подробнее
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}