{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/good.css') }}">
<div class="col-md-12 border rounded item">
  <h1>{{goods.title}}</h1>
  <div class="row">
    <img src="{{ url_for('static', filename=goods.picture) }}" class="image col-md-6">
    <div class="col-md-6">
      <a href="/chat" class="btn btn-success col-md-5" style="margin: 5%;"><h1>Написать продавцу</h1></a>
      <a href="/profile/{{ goods.user_id }}" class="btn btn-primary col-md-5" style="margin: 5%;"><h1>Профиль продавца</h1></a>
    </div>
  </div>
  <div>
    <h3>Описание</h3>
    <p>{{goods.description}}</p>
  </div>
  <div>
    <h3>Автор</h3>
    <p>{{goods.user.username}}</p>
  </div>
  <div>
    <h3>Цена</h3>
    <p>{{goods.price}}₽</p>
  </div>
    <h3>Номер телефона</h3>
    <p>{{goods.user.phone}}</p>
  <div>
    <h3>Дата добавления</h3>
    <p>{{goods.created_date}}</p>
  </div>

  <div>
    {% if current_user.is_authenticated and current_user == goods.user %}
    <a href="/goods/{{ goods.id }}" class="btn btn-warning">
      Изменить
    </a>
    <a href="/goods_delete/{{ goods.id }}" class="btn btn-danger">
      Удалить
    </a>
    {% endif %}
  </div>

</div>
{% endblock %}
