{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<h1 style="text-align: center;">Мои Товары</h1>
<div class="col-md6" style="
text-align: center;
padding-top: 10px;
">
</div>
<div class="items">
  {% for item in goods%}
  <div class="col-md-auto border rounded item">
    <img src="{{ url_for('static', filename=item.picture) }}" class="image" width="250px" height="250px">
    <h4>{{item.title}}</h4>
    <div>
      Цена - {{item.price}}
    </div>
    <div>
      Дата добавления - {{item.created_date}}
    </div>
    <div>
      <a href="/goods_info/{{ item.id }}" class="btn btn-primary">
        Подробнее
      </a>
      <a href="/goods/{{ item.id }}" class="btn btn-warning">
        Изменить
      </a>
      <a href="/goods_delete/{{ item.id }}" class="btn btn-danger">
        Удалить
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}