{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/good.css') }}">
<div class="col-md-12 border rounded item">
  <h1>{{users.username}}</h1>
  <div>
    <h3>Класс</h3>
    <p>{{users.classnum}}</p>
  </div>
  <div>
    <h3>Номер</h3>
    <p>{{users.phone}}</p>
  </div>
  <div>
    <h3>Почта</h3>
    <p>{{users.email}}</p>
  </div>
  <div>
    <a href="/users/{{ users.id }}" class="btn btn-warning">
      Изменить
    </a>
    <a href="/users_delete/{{ users.id }}" class="btn btn-danger">
      Удалить
    </a>
  </div>

</div>
{% endblock %}
